<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">
     ToDo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!this.dataService.items.length" class="ion-text-center" style="margin-top: 100px">
    <img src="assets/nodata.png">
  </div>

 <ion-list>
  <!--Slider for editing. On click feeds to the edit function to update the item of data-->
  <ion-item-sliding *ngFor="let i of this.dataService.items">
    <ion-item color="primary"  (click)="edit(i)">
      <!--Displays the title and the description in each item labeled.-->
      <ion-label>
        <h2>
          {{i.title}}
        </h2>
        <p>
          {{i.description}}
        </p>
      </ion-label>
    </ion-item>

    <!--Setup Delete option on the end of the slider-->
    <ion-item-options>
      <ion-item-option color="danger" (click)="deleteTodo(i)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


</ion-list>

 <div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addTodos()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
</ion-content>
